h1{
    color: red;
}

.cor1{
    background-color: red;
}
.img-fluid {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px; /* opcional, só pra dar um visual mais clean */
}

.img-fluid:hover {
    transform: scale(1.05); /* dá aquele zoom de leve */
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3); /* brilho ao redor */
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
  }
  
  .filme-card {
    transition: 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  .filme-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
  }
.overflow-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-track {
  background-color: #222;
}
